* {
  padding: 0px;
  margin: 0px;
}

body {
  background: radial-gradient(rgb(50, 0, 0), black) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar {
  right: 40%
}

@media only screen and (max-width: 600px) {
  .navbar {
    right: 7%;
  }
}

.navbar {
  position: fixed;
  bottom: 5%;
  z-index: 2;
  text-align: right;
  color: white;
  font-family: 'Signika Negative', sans-serif;
  font-size: 1.5rem;
}

.navbar .nav-link {
  cursor: pointer;
  margin-right: 1rem;
  display: inline;
  transition: all 550ms;
}

.navbar > .active {
  /*border-bottom: 2px solid red;*/
  color: tomato;
  transition: all 550ms;
  font-size: 2.5rem; 
}


.home-section {
  height: 120vh;
}

.about-section {
  height: 120vh;
  background-color: rgba(0, 102, 255, 0.397);
}

.projects-section {
  height: 120vh;
  background-color: rgb(233, 178, 0);
}

